
<div class="flex-container" >
 
    <%if (allUpcoming.length!=0){%>
        <% for(var i=0; i< allUpcoming.length; i++) { %>
            <%if (!allUpcoming[i].canceled){%>
                <div class="font-medium rounded px-2 py-1">
                    <a href="sport/partSession/<%=allUpcoming[i].id%>">
                    <p><%=t(allUpcoming[i].sessionName)%></p>
                    <p style="display: inline;"><%=formatDate(new Date(allUpcoming[i].date)) %></p>
                    <p style="display: inline;"><%=formatTime(allUpcoming[i].time)%></p>
                <%if (allUpcoming[i].playersNeeded === 0){%>
                    <p style="color:red; display: inline;"><%=t('Fully Booked')%></p>
                <%}else{%>
                    <p style="display: inline;"><%=allUpcoming[i].playersNeeded %> slots</p>
                <%}%>
                </a>
                </div>
            <%}else{%>
                <div class="font-medium rounded px-2 py-1">
                    <p><%=allUpcoming[i].sessionName%></p>
                    <p style="display: inline;"><%=formatDate(new Date(allUpcoming[i].date)) %></p>
                    <p style="display: inline;"><%=formatTime(allUpcoming[i].time)%></p>
                <%if (allUpcoming[i].playersNeeded === 0){%>
                    <p style="color:red; display: inline;">Fully Booked</p>
                <%}else{%>
                    <p style="display: inline;"><%=allUpcoming[i].playersNeeded %> slots</p>
                <%}%>
                <p style="color:red;"><b>Canceled due to <%=allUpcoming[i].message%></b></p>
                </div>
            <%}%>
            <% } %>
    <%}else{%>
        <p><%=t('UpcomingText')%></p>
    <%}%>
</div>